* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(183, 183, 183);
}

.heading {
  color: black;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .english-container {
    border: 2px solid Black;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    &__heading {
      margin-top: 10px;
      margin-left: 5px;
      background-color: beige;
    }

    &__text-field {
      width: 70%;
      height: 80%;
      margin: 10px;
      background-color: white;
    }
  }

  .morse-code-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: auto;
    display: flex;
    justify-content: space-around;

    &__heading {
      margin-top: 10px;
      margin-left: 5px;
      background-color: beige;
    }

    &__text-field {
      width: 110%;
      height: 80%;
      margin: 10px;
      background-color: white;
    }
  }

  .morse-code-key {
    width: 80%;
    height: 300px;
    margin: 10px 30px 10px 40px;
    display: flex;
    justify-content: center;

    &__image {
      width: 70%;
      height: 300px;
    }

    &__text-freespace {
      display: none;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 770px) {
  .english-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;

    &__heading {
      margin-top: 10px;
      margin-left: 5px;
      background-color: beige;
    }

    &__text-field {
      width: 90%;
      height: 80%;
      margin: 10px;
      background-color: white;
    }
  }

  .morse-code-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: auto;
    display: flex;
    justify-content: space-around;

    &__heading {
      margin-top: 10px;
      margin-left: 5px;
      background-color: beige;
    }

    &__text-field {
      width: 130%;
      height: 80%;
      margin: 10px;
      background-color: white;
    }
  }

  .morse-code-key {
    width: 80%;
    height: auto;
    margin: 10px 70px 10px 70px;
    display: flex;
    justify-content: space-between;

    &__image {
      width: 250px;
      height: 350px;
    }

    &__text-freespace {
      display: flex;
      height: 330px;
    }
  }
}

@media screen and (min-width: 770px) {
  .english-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;

    &__heading {
      margin-top: 10px;
      margin-left: 5px;
      background-color: beige;
    }

    &__text-field {
      width: 90%;
      height: 80%;
      margin: 10px;
      background-color: white;
    }
  }

  .morse-code-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: auto;
    display: flex;
    justify-content: space-around;

    &__heading {
      margin-top: 10px;
      margin-left: 5px;
      background-color: beige;
    }

    &__text-field {
      width: 130%;
      height: 80%;
      margin: 10px;
      background-color: white;
    }
  }

  .morse-code-key {
    width: 80%;
    height: auto;
    margin: 10px 70px 10px 70px;
    display: flex;
    justify-content: space-around;

    &__image {
      width: 250px;
      height: 350px;
    }

    &__text-freespace {
      display: flex;
      height: 330px;
    }
  }
}
